body { margin:0; padding:0; }

#map { position:absolute; top:0; bottom:0; width:100%; }

#sidebar{
  position:absolute;
  width: 20%;
  height: 100%;
  z-index: 99;
  display:none;
  background: rgba(245,245,245,0.9);
}

#sidebar-toggle{
  z-index: 99;
  position:relative;
  font-size: 25;
  display:none;
}

#legend {

    /* fixed within viewport */
    position: fixed;

    /* set position */
    top: 20px;
    right: 30px;

    background: rgba(245,245,245,0.9);
    z-index: 99;
}

#legend-content i {
        float: left;
        margin-right: 8px;
        opacity: 0.7;
        height:50px ;
        width:50px;
        border-color: black;
        border-width: 1px;
        border-style: solid;
    }

